<section class="s-demo s-demo--services section-py">


	<div class="container">

		<ul class="grid-common">
			<!-- .grid-common-col -->
			<li class="grid-common__col">
				<article class="grid-common__item">
					<div class="block-heading">
						<div class="block-heading__desc">
							<div class="block-heading__titlegroup">
								<div class="headline">
									<h2 class="h2 headline__title">Data Destruction</h2>
									<div class="headline__content">
										<p>We provide certified drive destruction that meets all HIPAA, GDPR, NIST, DOD and PCI requirements.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="block-video">
						<div class="block-video__wrapper">
							<div class="block-video__inner" style="--block-video-aspect-ratio: 62%;">
								<video class="block-video__itself" poster="./assets/media/images/intro/pic-intro02.webp">
									<source src="./assets/others/video-team01.mp4" type="video/mp4">
								</video>
							</div>
						</div>
						<div class="block-video__controls block-video-controls">
							<button class="block-video-controls__playbtn btn-reset js-play-video-btn" aria-label="Play button">&nbsp;</button>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col">
				<article class="grid-common__item">
					<div class="block-heading">
						<div class="block-heading__desc">
							<div class="block-heading__titlegroup">
								<div class="headline">
									<h2 class="h2 headline__title">ITAD Services</h2>
									<div class="headline__content">
										<p>We provide your organization the peace of mind knowing that every drive, cable, nut and bolt is account for when requested.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="block-video">
						<div class="block-video__wrapper">
							<div class="block-video__inner" style="--block-video-aspect-ratio: 62%;">
								<video class="block-video__itself" poster="./assets/media/images/intro/pic-intro02.webp">
									<source src="./assets/others/video-team01.mp4" type="video/mp4">
								</video>
							</div>
						</div>
						<div class="block-video__controls block-video-controls">
							<button class="block-video-controls__playbtn btn-reset js-play-video-btn" aria-label="Play button">&nbsp;</button>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->
		</ul>

	</div>


</section>
