<section class="intro-secondary">


	<div class="container">

		<nav class="breadcrumb">
			<ol class="breadcrumb__list">
				<!-- .breadcrumb-item -->
				<li class="breadcrumb__item">
					<a href="#!" class="breadcrumb__text" aria-label="Link to home page">Home</a>
				</li>
				<!-- /.breadcrumb-item -->

				<!-- .breadcrumb-item -->
				<li class="breadcrumb__item breadcrumb__item--current" aria-current="page">
					<span class="breadcrumb__text">Commercial services</span>
				</li>
				<!-- /.breadcrumb-item -->
			</ol>
		</nav>

		<div class="intro-secondary__content text-center" style="--intro-content-width: 578px;">
			<div class="headline">
				<h1 class="h1 headline__title">Commercial services</h1>
				<p>Our facility provides bulk e-waste processing for organizations <br> looking to securely dispose of old equipment.</p>
			</div>
		</div>

	</div>


</section>
