<section class="modal lock-padding" id="modal-contacts">


	<div class="modal__overlay">
		<div class="modal__content">
			<button class="modal__close btn-reset" aria-label="Close modal button">
				<svg width="16" height="16" aria-hidden="true">
					<use xlink:href="./assets/media/icons/sprite.svg#ico-close"></use>
				</svg>
			</button>
			<div class="modal__inner">
				<div class="form-primary">
					<header class="form-primary__heading form-primary-heading text-center">
						<h4 class=" h5 form-primary-heading__title">We are ready to answer any <br> of your questions</h4>
					</header>
					<form action="#">
						<div class="form-primary__wrapper">
							<!-- .form-primary-row -->
							<div class="form-primary__row">
								<!-- .form-primary-col -->
								<div class="form-primary__col form-primary__col--half group-validation is-invalid">
									<div class="form-primary__labelgroup">
										<label for="fName" class="form-primary__label">First name<span>*</span></label>
									</div>
									<div class="form-primary__inputgroup">
										<input type="text" id="fName" name="fName" placeholder="Enter your first name"
											aria-label="Please enter your first name">
									</div>
									<p class="group-validation__message">E-mail entered incorrectly</p>
								</div>
								<!-- /.form-primary-col -->

								<!-- .form-primary-col -->
								<div class="form-primary__col form-primary__col--half group-validation is-valid">
									<div class="form-primary__labelgroup">
										<label for="lName" class="form-primary__label">Last name<span>*</span></label>
									</div>
									<div class="form-primary__inputgroup">
										<input type="text" id="lName" name="lName" placeholder="Enter your last name"
											aria-label="Please enter your last name">
									</div>
									<p class="group-validation__message">E-mail entered correctly</p>
								</div>
								<!-- /.form-primary-col -->
							</div>
							<!-- /.form-primary-row -->

							<!-- .form-primary-row -->
							<div class="form-primary__row">
								<!-- .form-primary-col -->
								<div class="form-primary__col form-primary__col--half">
									<div class="form-primary__labelgroup">
										<label for="tel" class="form-primary__label">Phone number<span>*</span></label>
									</div>
									<div class="form-primary__inputgroup">
										<input type="tel" id="tel" name="tel" placeholder="+" aria-label="Please enter your phone number">
									</div>
								</div>
								<!-- /.form-primary-col -->

								<!-- .form-primary-col -->
								<div class="form-primary__col form-primary__col--half">
									<div class="form-primary__labelgroup">
										<label for="email" class="form-primary__label">Email address<span>*</span></label>
									</div>
									<div class="form-primary__inputgroup">
										<input type="email" id="email" name="email" placeholder="info@example.com"
											aria-label="Please enter your email">
									</div>
								</div>
								<!-- /.form-primary-col -->
							</div>
							<!-- /.form-primary-row -->

							<!-- .form-primary-row -->
							<div class="form-primary__row">
								<!-- .form-primary-col -->
								<div class="form-primary__col">
									<div class="form-primary__labelgroup">
										<label for="companyName" class="form-primary__label">Company name</label>
									</div>
									<div class="form-primary__inputgroup">
										<input type="text" id="companyName" name="companyName" placeholder="Enter company name"
											aria-label="Please enter your company name">
									</div>
								</div>
								<!-- /.form-primary-col -->
							</div>
							<!-- /.form-primary-row -->

							<!-- .form-primary-row -->
							<div class="form-primary__row">
								<!-- .form-primary-col -->
								<div class="form-primary__col">
									<div class="form-primary__labelgroup">
										<label for="message" class="form-primary__label">Message</label>
									</div>
									<div class="form-primary__inputgroup">
										<textarea name="message" id="message" placeholder="Write message"
											aria-label="Input your message here"></textarea>
									</div>
								</div>
								<!-- /.form-primary-col -->
							</div>
							<!-- /.form-primary-row -->
						</div>
						<div class="form-primary__interaction">
							<button type="submit" class="btn btn--secondary" aria-label="Send submit button">Send</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal__backdrop" aria-hidden="true"></div>
	</div>


</section>
