<footer class="footer footer--sm">


	<div class="footer__subscribe footer-subscribe">
		<div class="container">
			<div class="footer-subscribe__inner">
				<div class="form-subscription form-subscription--inline">
					<div class="form-subscription__heading">
						<div class="headline">
							<h5 class="h6 headline__title form-subscription__title">Newsletter</h5>
							<div class="headline__content">
								<p>By subscribing to the newsletter you will receive weekly news</p>
							</div>
						</div>
					</div>
					<form action="#">
						<div class="form-subscription__inputgroup">
							<input type="text" name="subscription" id="subscription" placeholder="Enter your email"
								aria-label="Enter your email">
							<button type="submit" class="form-subscription__btn btn-reset">Send</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="footer__info footer-info">
		<div class="container">
			<div class="footer-info__inner">
				<div class="footer__desc">
					<a href="#!" class="logo" aria-label="Link to...">
						<picture>
							<source srcset="./assets/media/logo/logo.avif" type="image/avif">
							<source srcset="./assets/media/logo/logo.webp" type="image/webp">
							<img loading="lazy" src="./assets/media/logo/logo.png" class="logo__img" width="175" height="48"
								alt="AFterbits logo" srcset="./assets/media/logo/logo@2x.png 2x">
						</picture>
					</a>
					<div class="footer__about">
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
							in some form, injected humour, or randomised words.</p>
					</div>
				</div>

				<nav class="footer__nav footer-nav">
					<ul class="footer-nav__list">
						<!-- .footer-nav-item -->
						<li class="footer-nav__item">
							<a href="#!" class="footer-nav__link">About us</a>
						</li>
						<!-- /.footer-nav-item -->

						<!-- .footer-nav-item -->
						<li class="footer-nav__item">
							<a href="#!" class="footer-nav__link">Commercial</a>
						</li>
						<!-- /.footer-nav-item -->

						<!-- .footer-nav-item -->
						<li class="footer-nav__item">
							<a href="#!" class="footer-nav__link">Residential</a>
						</li>
						<!-- /.footer-nav-item -->

						<!-- .footer-nav-item -->
						<li class="footer-nav__item">
							<a href="#!" class="footer-nav__link">Pricing</a>
						</li>
						<!-- /.footer-nav-item -->

						<!-- .footer-nav-item -->
						<li class="footer-nav__item">
							<a href="#!" class="footer-nav__link">Contact</a>
						</li>
						<!-- /.footer-nav-item -->
					</ul>
				</nav>

				<div class="footer__creds">
					<ul class="list-creds">
						<!-- .list-creds-items -->
						<li class="list-creds__item">
							<a href="https://goo.gl/maps/XC48e3joZbHLd9qu6" class="list-creds__text" target="_blank" rel="noopener">
								<svg class="list-creds__ico" width="16" height="16">
									<use xlink:href="./assets/media/icons/sprite.svg#ico-location"></use>
								</svg>
								<address>249 E Barnett Rd #112, Medford, OR 97501, USA</address>
							</a>
						</li>
						<!-- /.list-creds-items -->

						<!-- .list-creds-items -->
						<li class="list-creds__item">
							<a href="mailto:support@afterbits.com" class="list-creds__text">
								<svg class="list-creds__ico" width="16" height="16">
									<use xlink:href="./assets/media/icons/sprite.svg#ico-email"></use>
								</svg>
								support@afterbits.com
							</a>
						</li>
						<!-- /.list-creds-items -->
					</ul>

					<div class="socials">
						<ul class="socials__list">
							<!-- .socials-item -->
							<li class="socials__item">
								<a href="#!" class="socials__link" aria-label="Link to..." target="_blank" rel="noopener">
									<svg class="socials__ico" width="20" height="20">
										<use xlink:href="./assets/media/icons/sprite.svg#ico-fb"></use>
									</svg>
								</a>
							</li>
							<!-- /.socials-item -->

							<!-- .socials-item -->
							<li class="socials__item">
								<a href="#!" class="socials__link" aria-label="Link to..." target="_blank" rel="noopener">
									<svg class="socials__ico" width="20" height="20">
										<use xlink:href="./assets/media/icons/sprite.svg#ico-twitter"></use>
									</svg>
								</a>
							</li>
							<!-- /.socials-item -->

							<!-- .socials-item -->
							<li class="socials__item">
								<a href="#!" class="socials__link" aria-label="Link to..." target="_blank" rel="noopener">
									<svg class="socials__ico" width="20" height="20">
										<use xlink:href="./assets/media/icons/sprite.svg#ico-insta"></use>
									</svg>
								</a>
							</li>
							<!-- /.socials-item -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer__addinfo footer-addinfo">
		<div class="container">
			<div class="footer-addinfo__inner">
				<div class="footer__copyright">
					<p>&copy; 2022. All Rights Reserved. AfterBits</p>
				</div>
				<ul class="footer__terms footer-terms">
					<!-- .footer-terms-item -->
					<li class="footer-terms__item">
						<a href="#!" class="footer-terms__link">Privacy Policy</a>
					</li>
					<!-- /.footer-terms-item -->

					<!-- .footer-terms-item -->
					<li class="footer-terms__item">
						<a href="#!" class="footer-terms__link">Terms and Conditions</a>
					</li>
					<!-- /.footer-terms-item -->
				</ul>
			</div>
		</div>
	</div>


</footer>
