<header class="header">


	<div class="container">

		<div class="header__inner">
			<a href="#!" class="logo" aria-label="Link to...">
				<picture>
					<source srcset="./assets/media/logo/logo.avif" type="image/avif">
					<source srcset="./assets/media/logo/logo.webp" type="image/webp">
					<img loading="lazy" src="./assets/media/logo/logo.png" class="logo__img" width="175" height="48" alt="AFterbits logo">
				</picture>
			</a>

			<nav class="nav">
				<ul class="nav__list">
					<!-- .nav-item -->
					<li class="nav__item">
						<a href="#!" class="nav__link" aria-label="Link to...">About us</a>
					</li>
					<!-- /.nav-item -->

					<!-- .nav-item -->
					<li class="nav__item">
						<a href="#!" class="nav__link" aria-label="Link to...">Commercial</a>
					</li>
					<!-- /.nav-item -->

					<!-- .nav-item -->
					<li class="nav__item">
						<a href="#!" class="nav__link" aria-label="Link to...">Residential</a>
					</li>
					<!-- /.nav-item -->

					<!-- .nav-item -->
					<li class="nav__item">
						<a href="#!" class="nav__link" aria-label="Link to...">Pricing</a>
					</li>
					<!-- /.nav-item -->

					<!-- .nav-item -->
					<li class="nav__item">
						<a href="#!" class="nav__link" aria-label="Link to...">Contact</a>
					</li>
					<!-- /.nav-item -->
				</ul>
			</nav>
		</div>

	</div>


</header>
