<header class="header">


	<div class="container">

		<div class="header__inner">
			<a href="#!" class="logo" aria-label="Link to...">
				<picture>
					<source srcset="./assets/media/logo/logo.avif" type="image/avif">
					<source srcset="./assets/media/logo/logo.webp" type="image/webp">
					<img loading="lazy" src="./assets/media/logo/logo.png" class="logo__img" width="175" height="48" alt="AFterbits logo">
				</picture>
			</a>

			<nav class="nav">
				<button class="nav__close btn-reset js-cls-nav" aria-label="Close mobile navigation">
					<svg width="25" height="25" aria-hidden="true">
						<use xlink:href="./assets/media/icons/sprite.svg#ico-close"></use>
					</svg>
				</button>

				<ul class="nav__list">
					<!-- .nav-item -->
					<li class="nav__item">
						<a href="#!" class="nav__link" aria-label="Link to...">About us</a>
					</li>
					<!-- /.nav-item -->

					<!-- .nav-item -->
					<li class="nav__item">
						<a href="#!" class="nav__link" aria-label="Link to...">Commercial</a>
					</li>
					<!-- /.nav-item -->

					<!-- .nav-item -->
					<li class="nav__item">
						<a href="#!" class="nav__link" aria-label="Link to...">Residential</a>
					</li>
					<!-- /.nav-item -->

					<!-- .nav-item -->
					<li class="nav__item">
						<a href="#!" class="nav__link" aria-label="Link to...">Pricing</a>
					</li>
					<!-- /.nav-item -->

					<!-- .nav-item -->
					<li class="nav__item">
						<a href="#!" class="nav__link" aria-label="Link to...">Contact</a>
					</li>
					<!-- /.nav-item -->
				</ul>
			</nav>

			<div class="nav-toggler">
				<button class="nav-toggler__btn js-tgl-nav btn-reset" aria-label="Mobile navigation toggler">
					<!-- .nav-toggler-line -->
					<span class="nav-toggler__line nav-toggler__line--1"></span>
					<!-- /.nav-toggler-line -->

					<!-- .nav-toggler-line -->
					<span class="nav-toggler__line nav-toggler__line--2"></span>
					<!-- /.nav-toggler-line -->

					<!-- .nav-toggler-line -->
					<span class="nav-toggler__line nav-toggler__line--3"></span>
					<!-- /.nav-toggler-line -->
				</button>
			</div>
		</div>

	</div>


</header>
