<section class="s-about content-white">


	<div class="container">

		<div class="s-about__items">
			<!-- .s-about-item -->
			<div class="s-about__item s-about__item--content">
				<div class="headline">
					<h2 class="h2 headline__title">We look after the bits left behind</h2>
					<div class="headline__content">
						<p>Located in Medford Oregon, AfterBits Electronic Recycling was established in an effort to help cultivate a more sustainable solution to our ever growing e-waste problem in Southern Oregon.</p>
						<p>We accomplish this through our primary objective of upcycling products, not harvesting raw materials through harmful chemicals or dangerous processes.</p>
						<p>By doing so, we are able to undue some of the damage already done to our Earth by properly repurposing e-waste and keeping it out of landfills.</p>
					</div>
				</div>
			</div>
			<!-- /.s-about-item -->

			<!-- .s-about-item -->
			<div class="s-about__item s-about__item--media">
				<div class="s-about__img">
					<picture>
						<source srcset="./assets/media/images/intro/pic-intro02.avif" type="image/avif">
						<source srcset="./assets/media/images/intro/pic-intro02.webp" type="image/webp">
						<img loading="lazy" src="./assets/media/images/intro/pic-intro02.jpg" width="572" height="384" alt="Some image">
					</picture>
				</div>
			</div>
			<!-- /.s-about-item -->
		</div>

	</div>


</section>
