<section class="s-contacts">


	<div class="container">

		<h2 class="h2 visually-hidden">Section containing information about our credentials</h2>

		<div class="s-contacts__items">
			<!-- .s-contacts-item -->
			<div class="s-contacts__item s-contacts__item--map">
				<div class="block-map">
					<div class="block-map__wrapper">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2950.1200569869807!2d-122.86057900000002!3d42.31863800000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54cf7a174c0c6cff%3A0x41883ca4ca7fbb5!2s249%20E%20Barnett%20Rd%20%23112%2C%20Medford%2C%20OR%2097501%2C%20USA!5e0!3m2!1sen!2sua!4v1668510744391!5m2!1sen!2sua" width="600" height="450" style="border:0;" allowfullscreen="false" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
			</div>
			<!-- /.s-contacts-item -->

			<!-- .s-contacts-item -->
			<div class="s-contacts__item s-contacts__item--content">
				<ul class="list-creds">
					<!-- .list-creds-items -->
					<li class="list-creds__item">
						<span class="list-creds__text">
							<svg class="list-creds__ico" width="16" height="16">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-clock"></use>
							</svg>
							<time datetime="10:00">10:00 AM</time> - <time datetime="20:00">08:00 PM</time>, Mon - Fri
						</span>
					</li>
					<!-- /.list-creds-items -->

					<!-- .list-creds-items -->
					<li class="list-creds__item">
						<a href="https://goo.gl/maps/XC48e3joZbHLd9qu6" class="list-creds__text" target="_blank" rel="noopener">
							<svg class="list-creds__ico" width="16" height="16">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-location"></use>
							</svg>
							<address>249 E Barnett Rd #112, Medford, OR 97501, USA</address>
						</a>
					</li>
					<!-- /.list-creds-items -->

					<!-- .list-creds-items -->
					<li class="list-creds__item">
						<a href="tel:+000000000" class="list-creds__text">
							<svg class="list-creds__ico" width="16" height="16">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-phone"></use>
							</svg>
							+00 000 00 00
						</a>
					</li>
					<!-- /.list-creds-items -->

					<!-- .list-creds-items -->
					<li class="list-creds__item">
						<a href="mailto:support@afterbits.com" class="list-creds__text">
							<svg class="list-creds__ico" width="16" height="16">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-email"></use>
							</svg>
							support@afterbits.com
						</a>
					</li>
					<!-- /.list-creds-items -->
				</ul>

				<div class="socials">
					<ul class="socials__list">
						<!-- .socials-item -->
						<li class="socials__item">
							<a href="#!" class="socials__link" aria-label="Link to..." target="_blank" rel="noopener">
								<svg class="socials__ico" width="20" height="20">
									<use xlink:href="./assets/media/icons/sprite.svg#ico-fb"></use>
								</svg>
							</a>
						</li>
						<!-- /.socials-item -->

						<!-- .socials-item -->
						<li class="socials__item">
							<a href="#!" class="socials__link" aria-label="Link to..." target="_blank" rel="noopener">
								<svg class="socials__ico" width="20" height="20">
									<use xlink:href="./assets/media/icons/sprite.svg#ico-twitter"></use>
								</svg>
							</a>
						</li>
						<!-- /.socials-item -->

						<!-- .socials-item -->
						<li class="socials__item">
							<a href="#!" class="socials__link" aria-label="Link to..." target="_blank" rel="noopener">
								<svg class="socials__ico" width="20" height="20">
									<use xlink:href="./assets/media/icons/sprite.svg#ico-insta"></use>
								</svg>
							</a>
						</li>
						<!-- /.socials-item -->
					</ul>
				</div>

				<button class="btn btn--secondary" aria-label="Open modal to contact us" data-modal="#modal-contacts">Contact us</button>
			</div>
			<!-- /.s-contacts-item -->
		</div>

	</div>


</section>
