<section class="s-posts section-py">


	<div class="container">

		<div class="block-heading">
			<div class="block-heading__desc" style="--block-heading-desc-width: 620px;">
				<div class="block-heading__titlegroup">
					<div class="headline">
						<h2 class="headline__title h2">Every event is important to us and we are ready to share it</h2>
					</div>
				</div>
			</div>
			<div class="block-heading__interaction block-heading__interaction--content-down">
				<a href="#!" class="btn btn-outline btn-outline--primary" aria-label="Link to...">View all news</a>
			</div>
		</div>

		<ul class="grid-common">
			<!-- .grid-common-col -->
			<li class="grid-common__col">
				<article class="grid-common__item card-main">
					<a href="#!" class="card-main__img card-main-img">
						<div class="card-main-img__inner">
							<picture>
								<source srcset="./assets/media/images/intro/pic-intro02.avif" type="image/avif">
								<source srcset="./assets/media/images/intro/pic-intro02.webp" type="image/webp">
								<img loading="lazy" src="./assets/media/images/intro/pic-intro02.jpg" width="370" height="184" alt="Some image">
							</picture>
						</div>
					</a>
					<div class="card-main__content">
						<time class="card-main__date" datetime="2022-09-24">24 September, 2022</time>
						<h3 class="card-main__title"><a href="#!" aria-label="Link to">AfterBits article about something</a></h3>
						<div class="card-main__info">
							<p>We accomplish this through our primary objective of upcycling products.</p>
						</div>
						<a href="#!" class="card-main__addinfo" aria-label="Link to...">Learn more</a>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col">
				<article class="grid-common__item card-main">
					<a href="#!" class="card-main__img card-main-img">
						<div class="card-main-img__inner">
							<picture>
								<source srcset="./assets/media/images/intro/pic-intro02.avif" type="image/avif">
								<source srcset="./assets/media/images/intro/pic-intro02.webp" type="image/webp">
								<img loading="lazy" src="./assets/media/images/intro/pic-intro02.jpg" width="370" height="184" alt="Some image">
							</picture>
						</div>
					</a>
					<div class="card-main__content">
						<time class="card-main__date" datetime="2022-09-24">24 September, 2022</time>
						<h3 class="card-main__title"><a href="#!" aria-label="Link to">AfterBits article about something</a></h3>
						<div class="card-main__info">
							<p>We accomplish this through our primary objective of upcycling products.</p>
						</div>
						<a href="#!" class="card-main__addinfo" aria-label="Link to...">Learn more</a>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col">
				<article class="grid-common__item card-main">
					<a href="#!" class="card-main__img card-main-img">
						<div class="card-main-img__inner">
							<picture>
								<source srcset="./assets/media/images/intro/pic-intro02.avif" type="image/avif">
								<source srcset="./assets/media/images/intro/pic-intro02.webp" type="image/webp">
								<img loading="lazy" src="./assets/media/images/intro/pic-intro02.jpg" width="370" height="184" alt="Some image">
							</picture>
						</div>
					</a>
					<div class="card-main__content">
						<time class="card-main__date" datetime="2022-09-24">24 September, 2022</time>
						<h3 class="card-main__title"><a href="#!" aria-label="Link to">AfterBits article about something</a></h3>
						<div class="card-main__info">
							<p>We accomplish this through our primary objective of upcycling products.</p>
						</div>
						<a href="#!" class="card-main__addinfo" aria-label="Link to...">Learn more</a>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->
		</ul>

	</div>


</section>
