<section class="s-team">


	<div class="container">

		<div class="block-heading">
			<div class="block-heading__desc" style="--block-heading-desc-width: 650px;">
				<div class="block-heading__titlegroup">
					<div class="headline">
						<h2 class="headline__title h2">Our team that makes this world a better place</h2>
					</div>
				</div>
			</div>
			<div class="block-heading__interaction block-heading__interaction--content-down">
				<a href="#!" class="btn btn--secondary" aria-label="Link to...">Contact us</a>
			</div>
		</div>

		<ul class="grid-common">
			<!-- .grid-common-col -->
			<li class="grid-common__col">
				<article class="grid-common__item card-person">
					<header class="card-person__header">
						<div class="card-person__img card-person-img">
							<div class="card-person-img__inner">
								<picture>
									<source srcset="./assets/media/images/intro/pic-intro02.avif" type="image/avif">
									<source srcset="./assets/media/images/intro/pic-intro02.webp" type="image/webp">
									<img loading="lazy" src="./assets/media/images/intro/pic-intro02.jpg" width="274" height="274" alt="Some image">
								</picture>
							</div>
						</div>
					</header>
					<div class="card-person__body">
						<span class="card-person__name">Carter Flow</span>
						<span class="card-person__position">CEO</span>
						<ul class="card-person__creds card-person-creds">
							<!-- .card-person-creds-item -->
							<li class="card-person-creds__item">
								<a href="mailto:carter.flow@example.com">carter.flow@example.com</a>
							</li>
							<!-- /.card-person-creds-item -->
						</ul>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col">
				<article class="grid-common__item card-person">
					<header class="card-person__header">
						<div class="card-person__img card-person-img">
							<div class="card-person-img__inner">
								<picture>
									<source srcset="./assets/media/images/intro/pic-intro02.avif" type="image/avif">
									<source srcset="./assets/media/images/intro/pic-intro02.webp" type="image/webp">
									<img loading="lazy" src="./assets/media/images/intro/pic-intro02.jpg" width="274" height="274" alt="Some image">
								</picture>
							</div>
						</div>
					</header>
					<div class="card-person__body">
						<span class="card-person__name">Carter Flow</span>
						<span class="card-person__position">CEO</span>
						<ul class="card-person__creds card-person-creds">
							<!-- .card-person-creds-item -->
							<li class="card-person-creds__item">
								<a href="mailto:carter.flow@example.com">carter.flow@example.com</a>
							</li>
							<!-- /.card-person-creds-item -->
						</ul>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col">
				<article class="grid-common__item card-person">
					<header class="card-person__header">
						<div class="card-person__img card-person-img">
							<div class="card-person-img__inner">
								<picture>
									<source srcset="./assets/media/images/intro/pic-intro02.avif" type="image/avif">
									<source srcset="./assets/media/images/intro/pic-intro02.webp" type="image/webp">
									<img loading="lazy" src="./assets/media/images/intro/pic-intro02.jpg" width="274" height="274" alt="Some image">
								</picture>
							</div>
						</div>
					</header>
					<div class="card-person__body">
						<span class="card-person__name">Carter Flow</span>
						<span class="card-person__position">CEO</span>
						<ul class="card-person__creds card-person-creds">
							<!-- .card-person-creds-item -->
							<li class="card-person-creds__item">
								<a href="mailto:carter.flow@example.com">carter.flow@example.com</a>
							</li>
							<!-- /.card-person-creds-item -->
						</ul>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col">
				<article class="grid-common__item card-person">
					<header class="card-person__header">
						<div class="card-person__img card-person-img">
							<div class="card-person-img__inner">
								<picture>
									<source srcset="./assets/media/images/intro/pic-intro02.avif" type="image/avif">
									<source srcset="./assets/media/images/intro/pic-intro02.webp" type="image/webp">
									<img loading="lazy" src="./assets/media/images/intro/pic-intro02.jpg" width="274" height="274" alt="Some image">
								</picture>
							</div>
						</div>
					</header>
					<div class="card-person__body">
						<span class="card-person__name">Carter Flow</span>
						<span class="card-person__position">CEO</span>
						<ul class="card-person__creds card-person-creds">
							<!-- .card-person-creds-item -->
							<li class="card-person-creds__item">
								<a href="mailto:carter.flow@example.com">carter.flow@example.com</a>
							</li>
							<!-- /.card-person-creds-item -->
						</ul>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col">
				<article class="grid-common__item card-person">
					<header class="card-person__header">
						<div class="card-person__img card-person-img">
							<div class="card-person-img__inner">
								<picture>
									<source srcset="./assets/media/images/intro/pic-intro02.avif" type="image/avif">
									<source srcset="./assets/media/images/intro/pic-intro02.webp" type="image/webp">
									<img loading="lazy" src="./assets/media/images/intro/pic-intro02.jpg" width="274" height="274" alt="Some image">
								</picture>
							</div>
						</div>
					</header>
					<div class="card-person__body">
						<span class="card-person__name">Carter Flow</span>
						<span class="card-person__position">CEO</span>
						<ul class="card-person__creds card-person-creds">
							<!-- .card-person-creds-item -->
							<li class="card-person-creds__item">
								<a href="mailto:carter.flow@example.com">carter.flow@example.com</a>
							</li>
							<!-- /.card-person-creds-item -->
						</ul>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col">
				<article class="grid-common__item card-person">
					<header class="card-person__header">
						<div class="card-person__img card-person-img">
							<div class="card-person-img__inner">
								<picture>
									<source srcset="./assets/media/images/intro/pic-intro02.avif" type="image/avif">
									<source srcset="./assets/media/images/intro/pic-intro02.webp" type="image/webp">
									<img loading="lazy" src="./assets/media/images/intro/pic-intro02.jpg" width="274" height="274" alt="Some image">
								</picture>
							</div>
						</div>
					</header>
					<div class="card-person__body">
						<span class="card-person__name">Carter Flow</span>
						<span class="card-person__position">CEO</span>
						<ul class="card-person__creds card-person-creds">
							<!-- .card-person-creds-item -->
							<li class="card-person-creds__item">
								<a href="mailto:carter.flow@example.com">carter.flow@example.com</a>
							</li>
							<!-- /.card-person-creds-item -->
						</ul>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col">
				<article class="grid-common__item card-person">
					<header class="card-person__header">
						<div class="card-person__img card-person-img">
							<div class="card-person-img__inner">
								<picture>
									<source srcset="./assets/media/images/intro/pic-intro02.avif" type="image/avif">
									<source srcset="./assets/media/images/intro/pic-intro02.webp" type="image/webp">
									<img loading="lazy" src="./assets/media/images/intro/pic-intro02.jpg" width="274" height="274" alt="Some image">
								</picture>
							</div>
						</div>
					</header>
					<div class="card-person__body">
						<span class="card-person__name">Carter Flow</span>
						<span class="card-person__position">CEO</span>
						<ul class="card-person__creds card-person-creds">
							<!-- .card-person-creds-item -->
							<li class="card-person-creds__item">
								<a href="mailto:carter.flow@example.com">carter.flow@example.com</a>
							</li>
							<!-- /.card-person-creds-item -->
						</ul>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col">
				<article class="grid-common__item card-person">
					<header class="card-person__header">
						<div class="card-person__img card-person-img">
							<div class="card-person-img__inner">
								<picture>
									<source srcset="./assets/media/images/intro/pic-intro02.avif" type="image/avif">
									<source srcset="./assets/media/images/intro/pic-intro02.webp" type="image/webp">
									<img loading="lazy" src="./assets/media/images/intro/pic-intro02.jpg" width="274" height="274" alt="Some image">
								</picture>
							</div>
						</div>
					</header>
					<div class="card-person__body">
						<span class="card-person__name">Carter Flow</span>
						<span class="card-person__position">CEO</span>
						<ul class="card-person__creds card-person-creds">
							<!-- .card-person-creds-item -->
							<li class="card-person-creds__item">
								<a href="mailto:carter.flow@example.com">carter.flow@example.com</a>
							</li>
							<!-- /.card-person-creds-item -->
						</ul>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->
		</ul>

	</div>


</section>
