/* ----- Use different tools ----- */
@use "../tools/include-media";

.intro-secondary {
	padding: 16rem 0 9rem;

	.breadcrumb {
		margin-bottom: 3rem;
	}

	&__content {
		width: 100%;
		max-width: var(--intro-content-width);
		margin: 0 auto;
	}

	// Modifiers for the element
	&--pickup {
		padding-bottom: 8.8rem;
	}
}

@include include-media.media("<=phone") {
	.intro-secondary {
		padding: 11.5rem 0 5.5rem;
	}
}
