/* ----- Use different tools ----- */
@use "../tools/include-media";

.s-error {
	padding: 21rem 0 7rem;

	&__title {
		margin-bottom: 1.4rem;
		font-size: 20rem;
		line-height: 1.1;
		color: var(--text-color-accent);

		span {
			color: var(--text-color-accent-secondary);
		}
	}

	.headline {
		margin-bottom: 3.2rem;
	}
}

@include include-media.media("<=phone") {
	.s-error {
		&__title {
			font-size: 15rem;
		}
	}
}

@include include-media.media("<=sm-phone") {
	.s-error {
		&__title {
			font-size: 12rem;
		}
	}
}
